$primary-color: #144E8D;
$secondary-color: #4371A4;
$tertiary-color: #7295BB;
$quaternary-color: #4371A4;
$quinary-color: #144E8D;

$background-color: #fff;
$section-color: #F2F2F2;
$text-color: #222;
